body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #ffffff;

    &:hover {
        background-color: #1E3771;
        color: #ffffff;
    }
}

// Header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1,
    p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #ffffff;

        &:hover {
            background-color: #FFAA69;
            color: #ffffff;
        }
    }
}

// Statistics
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
    }

    h2,
    p {
        color: #ffffff;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: #ffffff;
        }

        .travel-location {
            font-size: 26px;
            color: #ffffff;
            font-weight: 600;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #FF9E53;
                color: #ffffff;
                font-size: 20px;
                font-weight: 600;

                &:hover {
                    background-color: #FFAE6F;
                    color: #ffffff;
                }
            }
        }
    }
}

.section-network {
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
            color: #071C4D;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #ffffff;

        &:hover {
            background-color: #FFAA69;
            color: #ffffff;
        }
    }

    .btn-need-help {
        background-color: #F2F2F2;
        color: #C3C3C3;

        &:hover {
            background-color: #FAFAFA;
            color: #C3C3C3;
        }
    }
}

.section-footer {
    a {
        color: #071C4D;
        font-size: 18px;
    }

    h5 {
        font-weight: 600;
        font-size: 22px;
        color: #071c4d;
    }
}

// Details page
.section-details-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
            font-weight: 600;
            color: #071c4d;
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: #071c4d;
        }

        p {
            font-size: 18px;
            color: #D1D1D1;
        }

        h3 {
            font-weight: 600;
            font-size: 14px;
        }
    }

    .trip-informations {
        th {
            font-weight: 300;
            font-size: 18px;
            color: #071C4D;
        }

        td {
            font-weight: 300;
            font-weight: 18px;
            color: #B1B1B1;
        }

        .text-blue {
            color: #071C4D;
            font-weight: bold;
        }

        .text-orange {
            color: #FF9E53;
            font-weight: bold;
        }
    }

    .payment-instruction {
        font-weight: 300;
        font-size: 14px !important;
        color: #B1B1B1;
    }

    .bank {
        .bank-item {
            h3 {
                font-size: 18px;
                color: #071C4D;
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }

            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;

                p {
                    font-weight: normal;
                    font-size: 16px;
                    color: #071C4D;
                }

                h3 {
                    font-weight: normal;
                    font-size: 16px;
                    color: #071c4d;
                }
            }
        }

        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .disclaimer {
        font-weight: 300;
        font-size: 14px;
        color: #B1B1B1;
    }

    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }

        .input-group-append {
            .btn {
                padding-right: 30px;
            }
        }
    }

    .btn-add-now {
        background-color: #071C4D;
        color: #ffffff;

        &:hover {
            background-color: #1B3B86;
            color: #ffffff;
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071C4D;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }
        }

        .xactive {
            border: 4px solid #1ABC9C;
            box-shadow: none;
        }
    }

    .members {
        .members-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .cancel-link {
        a {
            text-decoration: underline;
            font-weight: lighter;
            font-size: 20px;
            color: #BFBFBF !important;
        }
    }

    .btn-join-now {
        background-color: #FF9E53;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        border-radius: 0;

        &:hover {
            background-color: #FFB57C;
            color: #ffffff;
        }
    }




}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071C4D;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #B1B1B1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071C4D;
        color: #ffffff;
        font-family: Assistant;
        font-weight: 600;
        font-size: 20px;

        &:hover {
            background-color: rgb(13, 51, 139);
            color: #ffffff;
        }
    }
}

// Login Page
.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #ffffff 60%, #E4E6EB 40%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;

    .btn-login {
        background-color: #FF9E53;
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }
    }

    .section-left {
        h1 {
            font-family: "Playfair Display";
            font-weight: bold;
            font-size: 50px;
            text-align: left;
            color: #071c4d;
        }
    }

    .section-right {
        a {
            font-family: Assistant;
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #bfbfbf;
        }
    }
}























$medium_size: 768px;
$large_size: 992px;
$extra_large_size: 1200px;


@media (max-width: $medium_size) {
    .stats-detail {
        padding-left: 15px !important;
    }

    .card-details {
        margin-top: 15px;
    }

    .features {
        .border-left {
            border: none !important;
        }
    }
}

@media (min-width: $large_size) and (max-width: $extra_large_size) {
    .features {
        h3 {
            font-size: 16px !important;
        }

        p {
            font-size: smaller !important;
        }
    }
}